{{- define "main" }}

{{- if .Title }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
</header>
{{- end }}

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/contact/thank-you';}"></iframe>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSeHh8Z5G_iZvZxLMhxwhp0p2MzxRea-r4vU1nchYW1yaRZBwg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;"></form>

<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSeHh8Z5G_iZvZxLMhxwhp0p2MzxRea-r4vU1nchYW1yaRZBwg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true">
    <label>Name</label>
    <input type="text" placeholder="Martha Stewart" class="form-input" name="entry.2005620554" required>

    <label>Email</label>
    <input type="email" placeholder="martha@example.com" class="form-input" name="entry.1045781291" required>

    <label>Message</label>
    <textarea rows="5" placeholder="Your message" class="form-input form-textarea" name="entry.839337160" required></textarea>

    <button type="submit" class="button form-submit-button">Submit</button>
</form>

{{- end }}{{/* end main */ -}}
